<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | CommonGrounds</title>
        {% load static %}
        <!-- Tailwind CSS and Flowbite -->
        <link href="{% static 'core/css/tailwind.min.css' %}" rel="stylesheet">
        <link href="{% static 'core/css/flowbite.min.css' %}" rel="stylesheet" />
        <script src="{% static 'core/js/flowbite.min.js' %}"></script>

        <!-- Material Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
        <!-- HTMX -->
        <script src="{% static '/core/js/htmx.min.js' %}"></script>

        <style>
         .material-symbols-outlined {
            font-family: 'Material Symbols Outlined';
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
         }
        </style>

        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark')
            }   
        </script>
    </head>

    <body class="bg-gray-100 dark:bg-gray-900">
      <div class="h-screen flex flex-col">
         <div class="flex flex-row items-center m-4 justify-between sm:hidden">
            <button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="btn btn-ghost justify-self-start">
               <span class="material-symbols-outlined text-gray-900 dark:text-white text-xl">
                  menu
               </span>
            </button>
            <a class="text-gray-900 font-medium dark:text-white text-xl" href="{% url 'index' %}">
               <h2>CommonGrounds</h2>
            </a>
            <div>
               <button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="btn btn-ghost justify-self-start">
                  <span class="material-symbols-outlined text-gray-900 dark:text-white text-xl">
                     edit_note
                  </span>
               </button>
            </div>
         </div>

         <div class="flex flex-row max-w-full items-center p-4 hidden justify-between bg-gray-50 dark:bg-gray-800 sm:ml-64 sm:flex">
            <a></a>
            <a class="text-gray-900 font-medium dark:text-white text-xl text-center">
               <h2>{% block page_title %}{% endblock %}</h2>
            </a>
            <div>
               <button type="button" class="btn btn-ghost justify-self-start">
                  <span class="material-symbols-outlined text-gray-900 dark:text-white text-xl">
                     edit_note
                  </span>
               </button>
            </div>
         </div>
         
         <aside id="separator-sidebar" class="fixed flex flex-col h-full top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-gray-50 border-r-2 border-gray-200 dark:border-gray-700 dark:bg-gray-800 justify-between" aria-label="Sidebar">
            <div>
               <div class="flex w-full p-3 flex flex-col">
                  <ul class="space-y-2 font-medium">
                     <a href="{% url 'index' %}" class="text-black pb-6 dark:text-white">
                        <span>CommonGrounds</span>
                     </a>
                  
                     <ul class="space-y-2 font-medium pb-2">
                        <li>
                           <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                              <span class="material-symbols-outlined">
                                 location_city
                              </span>
                              <span class="flex-1 ms-3 whitespace-nowrap">Venues</span>
                           </a>
                        </li>
                        <li>
                           <a href="{% url 'people' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                              <span class="material-symbols-outlined">
                                 groups
                              </span>
                              <span class="flex-1 ms-3 whitespace-nowrap">People</span>
                           </a>
                        </li>
                     </ul>
                     
                  </ul>
               </div> 
               <div>
                  {% if request.user.is_authenticated %}
                     {% if userprofile %}
                     <div class="flex flex-row text-gray-500 text-md dark:text-gray-300 border-t border-gray-200 dark:border-gray-700 py-4">
                        <p class="ms-3">Chats</p>
                     </div>    
                     <div class="flex flex-col gap-2 overflow-y-auto font-medium">
                        {% for chat in userprofile.chats.all %}
                        <a href="{% url 'chat_view' chat.id %}" class="flex mx-3 items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                           <span class="flex-1  whitespace-wrap">Looking for a resume consultant</span>
                        </a>
                        {% endfor %}
                     </div>
                     {% endif %}
                  {% endif %}
               </div>
            </div>
            <ul class="space-y-2 font-medium border-t border-gray-200 dark:border-gray-700 m-3 pt-4 mt-4">
               <li>
                  <a href="{% url 'index' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                     <span class="material-symbols-outlined">
                        forum
                     </span>
                     <span class="flex-1 ms-3 whitespace-nowrap">Messages</span>
                  </a>
               </li>
               <li>
                  <a href="{% url 'schedule' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                     <span class="material-symbols-outlined">
                        upcoming
                     </span>
                     <span class="flex-1 ms-3 whitespace-nowrap">Schedule</span>
                  </a>
               </li>
               <li>
                  {% if request.user.is_authenticated %}
                     {% if userprofile %}
                        <a href="{% url 'account_logout' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                              <div class="flex items-center space-x-3">
                                 <img src="{{ userprofile.profile_image.file.url }}" class="h-6 w-6 rounded-full object-cover border-2 border-gray-700 dark:border-white" alt="{{ userprofile.name }}'s Profile Image">
                                 <span class="flex-1 text-sm sm:text-base whitespace-nowrap">Sign Out</span>
                              </div>
                        </a>
                     {% else %}
                        <a href="{% url 'account_logout' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                              <span class="material-symbols-outlined text-lg sm:text-xl">
                                 person_add
                              </span>
                              <span class="flex-1 ms-3 text-sm sm:text-base whitespace-nowrap">Sign Out</span>
                        </a>
                     {% endif %}
                  {% else %}
                     <a href="{% url 'account_login' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="material-symbols-outlined text-lg sm:text-xl">
                              person_add
                        </span>
                        <span class="flex-1 ms-3 text-sm sm:text-base whitespace-nowrap">Sign Up</span>
                     </a>
                  {% endif %}
            </li>
            </ul>  
         </aside>
         {% block content %}

         {% endblock %}
      </div>
   </body>
   
</html>