{% extends 'core/base.html' %}
{% block title %}People{% endblock %}
{% block page_title %}People on Commongrounds{% endblock %}
{% block content %}
<div class="p-4 sm:ml-64 flex-col justify-end">
    <div class="flex flex-row flex-wrap items-start justify-center gap-6">    
    {% for user, services in users_with_services.items %}
        <div class="flex flex-col w-full max-w-md h-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center md:flex-row md:items-start mt-6 px-6 gap-3">
                <img class="max-h-36 h-full rounded-full shadow-lg" src="{{ user.profile_image.file.url }}" alt="{{ user.name }} image"/>
                <span class="flex flex-col max-h-40 w-full md:h-40 justify-center items-center">
                    <h5 class="text-xl font-semibold text-gray-900 dark:text-white justify-self-start self-start">{{ user.name }}</h5>
                    <h5 class="flex w-auto h-full text-sm font-normal text-gray-700 dark:text-gray-400 text-wrap my-2 pr-2 flex-wrap overflow-y-auto">{{ user.bio }}</h5>
                </span>
                <!-- <span class="text-sm text-gray-500 dark:text-gray-400">{{ user.user_type }}</span> -->
            </div>
            <details class="flex flex-col h-full items-center justify-center gap-4 p-4">
                <summary class="text-md text-gray-900 dark:text-white cursor-pointer p-2">Services Offered:</summary>
                {% for service in services %}
                    <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="p-4">
                            <h5 class="text-lg font-semibold text-gray-900 dark:text-white">{{ service.service_type.service_name }}</h5>
                            <p class="text-sm text-gray-500 dark:text-gray-400">{{ service.description }}</p>        
                            <div class="flex flex-row mt-4 md:mt-6 justify-between">
                                <div>
                                    <p class="text-sm text-gray-500 dark:text-gray-400">Rate: ${{ service.rate }}/hr</p>
                                    <p class="text-sm text-gray-500 dark:text-gray-400">Locality: {{ service.locality.place_name }}</p>        
                                </div>
                                <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send Message</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </details>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
