{% extends 'core/base.html' %}
{% block title %}Schedule - {{ userprofile.name }}{% endblock %}
{% block page_title %}{{ userprofile.name }}'s Events{% endblock %}
{% block content %}
<div class="p-4 sm:ml-64 flex-col justify-end">
    {% if schedules %}
        <div class="flex flex-col flex-wrap md:flex-row items-center justify-center gap-6">    
        {% for schedule in schedules.venue_schedules %}     
            <div class="flex flex-col rounded-lg h-fit bg-white p-0.5 border shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="m-1 p-2 h-52 bg-white rounded-lg dark:bg-gray-800 border shadow dark:bg-gray-800 dark:border-gray-700">
                    <iframe class="rounded-md h-full w-auto" src="{{ schedule.venue.address.google_embed_link }}" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    
                </div>
                <div class="flex flex-col px-8 h-2/3 pb-7 items-start justify-center gap-2">
                    <h2 class="text-2xl my-4 dark:text-white">{{ schedule.service.service_type.service_name }}</h2>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            person
                        </span>
                        {{ schedule.service.provider.user.username }}
                    </div>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            location_on
                            </span>
                        {{ schedule.venue.venue_name }}
                    </div>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            schedule
                        </span>
                        {{ schedule.timing.endhour }}-{{ schedule.timing.starthour }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for schedule in schedules.service_schedules %}     
            <div class="flex flex-col rounded-lg h-fit bg-white p-0.5 border shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="m-1 p-2 h-52 bg-white rounded-lg dark:bg-gray-800 border shadow dark:bg-gray-800 dark:border-gray-700">
                    <iframe class="rounded-md h-full w-auto" src="{{ schedule.venue.address.google_embed_link }}" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    
                </div>
                <div class="flex flex-col px-8 h-2/3 pb-7 items-start justify-center gap-2">
                    <h2 class="text-2xl my-4 dark:text-white">{{ schedule.service.service_type.service_name }}</h2>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            person
                        </span>
                        {{ schedule.service.provider.user.username }}
                    </div>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            location_on
                            </span>
                        {{ schedule.venue.venue_name }}
                    </div>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            schedule
                        </span>
                        {{ schedule.timing.endhour }}-{{ schedule.timing.starthour }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for schedule in schedules.consumer_schedules %}     
            <div class="flex flex-col rounded-lg h-fit bg-white p-0.5 border shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="m-1 p-2 h-52 bg-white rounded-lg dark:bg-gray-800 border shadow dark:bg-gray-800 dark:border-gray-700">
                    <iframe class="rounded-md h-full w-auto" src="{{ schedule.venue.address.google_embed_link }}" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    
                </div>
                <div class="flex flex-col px-8 h-2/3 pb-7 items-start justify-center gap-2">
                    <h2 class="text-2xl my-4 dark:text-white">{{ schedule.service.service_type.service_name }}</h2>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            person
                        </span>
                        {{ schedule.service.provider.user.username }}
                    </div>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            location_on
                            </span>
                        {{ schedule.venue.venue_name }}
                    </div>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            schedule
                        </span>
                        {{ schedule.timing.endhour }}-{{ schedule.timing.starthour }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p class="text-gray-700 dark:text-white">No schedules found.</p>
    {% endif %}
</div>
{% endblock %}
