{% extends 'core/base.html' %}
{% block title %}Schedule - {{ userprofile.name }}{% endblock %}
{% block content %}
<div class="h-full flex-shrink p-4 sm:ml-64 flex-col justify-end overflow-y-auto">
    <h2 class="text-2xl font-bold mb-4 hidden dark:text-white sm:block">{{ userprofile.name }}'s Events</h2>
    {% if schedules %}
        <div class="flex flex-col flex-wrap md:flex-row items-center justify-center gap-6">    
        {% for schedule in schedules %}     
            <div class="flex  flex-col rounded-2xl h-fit bg-gray-200 p-0.5 dark:bg-gray-800">
                <div class="p-3 pb-4 h-52 bg-gray-400 rounded-t-2xl dark:bg-gray-900 ">
                    <iframe class="rounded-t-xl h-full w-auto" src="{{ schedule.venue.address.google_embed_link }}" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    
                </div>
                <div class="flex flex-col px-8 mt-4 h-2/3 pb-7 items-start justify-center gap-2 px-3">
                    <h2 class="text-2xl mb-4 dark:text-white">{{ schedule.service.service_type.service_name }}</h2>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            person
                        </span>
                        {{ schedule.service.provider.user.username }}
                    </div>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            location_on
                            </span>
                        {{ schedule.venue.venue_name }}
                    </div>
                    <div class="flex gap-2 dark:text-gray-100">
                        <span class="material-symbols-outlined dark:text-white">
                            schedule
                        </span>
                        {{ schedule.timing.endhour }}-{{ schedule.timing.starthour }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p class="text-gray-700 dark:text-white">No schedules found.</p>
    {% endif %}
</div>
{% endblock %}
