<button class="w-full flex flex-col items-start h-full rounded-xl justify-start bg-gray-200 dark:bg-gray-800 p-2.5 h-full gap-2 sm:w-36" type="button" data-drawer-target="{{user.id}}" data-drawer-show="{{user.id}}" data-drawer-placement="right" aria-controls="{{user.id}}">
    <img class="rounded-md" src="https://avatars.githubusercontent.com/u/88078870?v=4">
    <p class="text-md font-semibold border-0 text-gray-900 dark:text-white">{{user.name}}</p>
    <!--<p class="text-sm font-normal border-0 text-gray-600 text-left dark:text-gray-300">Fitness Trainer, Resume Consultant</p>-->
 </button>
