{% extends 'core/base.html' %}
{% load static %}

{% block title %}Chat{% endblock %}
{% block page_title %}{{ chat.title }}{% endblock %}
{% block content %}
<div id="message-box" class="h-full mx-1 px-3 sm:ml-64 flex-col justify-end overflow-y-auto">
    <!-- Message Area -->
    <div id="message-area" class="message-area my-4 w-full">
      <div  id="inner-message" class="flex flex-col gap-2.5 max-w-5xl mx-auto">
          {% for message in chat.messages.all %}
              {% include 'chat/partials/message.html' %}
          {% endfor %}
      </div>
    </div>
 </div>

 <div class="flex p-2 justify-center sm:ml-64">
   <!-- Chat Box -->
   <form class="flex flex-row w-full max-w-3xl mb-0"
      hx-post="{% url 'chat' chat.id %}" 
      hx-trigger="submit" 
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
      hx-target="#inner-message" 
      hx-swap="beforeend"
      autocomplete="off">   
      <input type="text" id="chat-input" name="content" 
            class="block pl-4 w-full flex flex-wrap text-sm text-gray-900 bg-gray-50  rounded-s-full border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" 
            placeholder="Type a message...">
      
      <button type="submit" 
               class="px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-e-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:ring-blue-500 focus:border-blue-500 dark:focus:border-blue-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
         <span class="material-symbols-outlined">send</span>
      </button>
   </form>
 </div>
<script>
   document.addEventListener('htmx:afterSwap', function(event) {
      if (event.detail.pathInfo.path === "/chat/{{chat.id}}/") {
        document.getElementById('chat-input').value = '';
      }
      const chat = document.getElementById('message-box');
      chat.scrollTo({
      top: chat.scrollHeight,
      behavior: 'smooth'
      });
   });
   window.onload = function() {
      const chat = document.getElementById('message-box');
      chat.scrollTop = chat.scrollHeight
   };
</script>

{% endblock %}
