<div  class="flex flex-col gap-2 p-4 max-w-2xl self-start mr-3">
    <div class="flex flex-inline gap-1 dark:text-gray-400">
        <span class="material-symbols-outlined dark:text-gray-400">
            support_agent
        </span>
        <p class="underline">Agent</p>
    </div>
    {% if message.content_html %}
    <p class="text-md font-normal border-0 text-gray-900 dark:text-white">{{ message.content_html | safe }}</p>
    {% else %}
    <p class="text-md font-normal border-0 text-gray-900 dark:text-white">{{ message.content }}</p>
    {% endif %}
    <div class="text-center grid w-full grid-cols-3 max-w-lg gap-4">
        {% for user in message.context.all %}
            {% include 'chat/partials/person_card.html' %}
        {% endfor %}
    </div>
    <script>
        var errorMessages = document.querySelectorAll('.error-message');
        errorMessages.forEach(function(element) {
            element.remove();
        });
    </script>
</div>
